@inherits LayoutComponentBase

<PageTitle>Ramirez</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://mrcrec.com/blog/outdoor-fitness-equipment" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<footer class="footer">
    <div class="container">
        <p>&copy; @DateTime.Now.Year - CROSSFIT GYM PARK</p>
        <p>
            <a href="https://www.yourcompany.com/privacy-policy">Privacy Policy</a>
            <a href="https://www.yourcompany.com/terms">Terms of Service</a>
            <a href="mailto:support@yourcompany.com">Contact Us</a>

        </p>
    </div>
</footer>


@code {
    // Add any C# code or variables if needed
}

