@inherits LayoutComponentBase

<PageTitle>FITNESS APPLICATION</PageTitle>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <a href="" target="_blank">About</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="index.html"><img src="https://e7.pngegg.com/pngimages/571/38/png-clipart-total-gym-physical-fitness-fitness-app-fitness-centre-personal-trainer-bodybuilding-hand-logo.png" alt="" class="img-fluid logo-footer"></a>
                <div class="footer-about">
                    <p>"Since 2024, FITNESS APPLICATION has been dedicated to empowering fitness journeys for everyone. With over a decade of experience, we combine cutting-edge technology, personalized training plans, and expert guidance to help you achieve your fitness goals—whether you're a beginner or a seasoned athlete. Join our community and take the first step toward a healthier, stronger you!"</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="address">
                    <h2>Address</h2>
                    <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
                    <div class="address-links">
                        <li class="address1">
                            <i class="fa-solid fa-location-dot"></i> ALAMADA NORTH COTABATO
                        </li>
                        <li><a href=""><i class="fa-solid fa-phone"></i> +9810618661</a></li>
                        <li><a href=""><i class="fa-solid fa-envelope"></i> FitnessappCommunity@gmail.com</a></li>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2>QUICK RESPONSE</h2>
                <ul>
                    <li><a href="https://www.trainerize.com/endUserTerms/" target="_blank">Terms of Service</a></li>
                    <li><a href="https://www.trainerize.com/privacy/" target="_blank">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <p>&copy; 2024 Fitness Application. All Rights Reserved.</p>
            <p>
                <a href="https://www.example.com/about" target="_blank">Learn more about us</a>
            </p>
        </div>
    </div>
</footer>
