<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FITNESS APP</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="Video">
        Video
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="Music">
        Music
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="Profile">
        Profile
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="Event">
        Event
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="contact-us">
        Contact us
    </NavLink>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
