@using Microsoft.AspNetCore.Components.Web
@namespace Ramirez.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Ramirez.styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Courgette|Open+Sans&display=swap" rel="stylesheet">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <title>Octoberfest</title>
    <style>
        .leaf img {
            width: 75px;
            height: 75px;
        }
    </style>
</head>
<body>
    @RenderBody()

    <section>
        <h2>Hello October!</h2>

        <div class="leaf">
            <img src="http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png" />
            <img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Pictures-Collage-PNG.png" />
            <img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Clip-Art-PNG.png" />
            <img src="http://www.pngmart.com/files/1/Green-Leaves-PNG-File.png" />
            <img src="http://www.pngmart.com/files/1/Transparent-Autumn-Leaves-Falling-PNG.png" />
            <img src="http://www.pngmart.com/files/1/Realistic-Autumn-Fall-Leaves-PNG.png" />
            <img src="http://cdn.clipart-db.ru/rastr/autumn_leaves_025.png" />
        </div>

        <div class="leaf leaf1">
            <img src="http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png" />
            <img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Pictures-Collage-PNG.png" />
            <img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Clip-Art-PNG.png" />
            <img src="http://www.pngmart.com/files/1/Green-Leaves-PNG-File.png" />
            <img src="http://www.pngmart.com/files/1/Transparent-Autumn-Leaves-Falling-PNG.png" />
            <img src="http://www.pngmart.com/files/1/Realistic-Autumn-Fall-Leaves-PNG.png" />
            <img src="http://cdn.clipart-db.ru/rastr/autumn_leaves_025.png" />
        </div>

        <div class="leaf leaf2">
            <img src="http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png" />
            <img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Pictures-Collage-PNG.png" />
            <img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Clip-Art-PNG.png" />
            <img src="http://www.pngmart.com/files/1/Green-Leaves-PNG-File.png" />
            <img src="http://www.pngmart.com/files/1/Transparent-Autumn-Leaves-Falling-PNG.png" />
            <img src="http://www.pngmart.com/files/1/Realistic-Autumn-Fall-Leaves-PNG.png" />
            <img src="http://cdn.clipart-db.ru/rastr/autumn_leaves_025.png" />
        </div>
    </section>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
