@page "/"

<PageTitle>Index</PageTitle>

<h1 class="intro-text">
    Hi, I’m JUNHIL RAMIREZ, and I’m thrilled to be part of this fitness app community! I’m here to stay motivated, set and achieve my personal fitness goals, and make the most out of every workout. With a mix of dedication and enthusiasm, I’m ready to push my limits and track my progress alongside fellow fitness enthusiasts. Let’s crush our goals together and make every step count on this fitness journey!!
</h1>

<style>
    .intro-text {
        background-color: aqua; 
        padding: 20px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: red;
    }
</style>
