@page "/Music"

<div>

    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7FD173Z17eshaFDHHevmuj?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
        width="100"
        height="200"
        frameborder="1"
        allowtransparency="true"
        allow="encrypted-media">
    </iframe>
</div>
<div>

    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1e6aAbWR0MXCNcr4yQovNr?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
        width="300"
        height="380"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media">
    </iframe>
</div>
<div>

    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/61RsA1VPJu0JFVsxMxwW6b?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
        width="300"
        height="380"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media">
    </iframe>
</div>

<div>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6QCn1GwFZtvECMU6OG7Nkg?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
    width="300"
    height="380"
    frameborder="0"
    allowtransparency="true"
    allow="encrypted-media">
</iframe>
</div>



