@page "/Event"

<h3>EVENT</h3>

@code {
    private EventLibrary.EventModel Model { get; set; } = new EventLibrary.EventModel();
    private EventLibrary.EventLogic Logic { get; set; } = new EventLibrary.EventLogic();

    private void ShowFirstName() => Logic.ShowFirstName(Model);
    private void ShowMiddleName() => Logic.ShowMiddleName(Model);
    private void ShowLastName() => Logic.ShowLastName(Model);
    private void ShowFullName() => Logic.ShowFullName(Model);
    private void ClearDisplay() => Logic.ClearDisplay(Model);
}

<h3>SHOW NAMES</h3>

<table class="table table-bordered table-striped background-cyan" style="width: 50%; margin-top: 20px;">
    <thead>
        <tr>
            <th style="width: 30%;">PERSONAL IDENTIFIERS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td><input type="text" class="form-control" @bind="Model.FirstName" /></td>
        </tr>
        <tr>
            <td>Middle Name</td>
            <td><input type="text" class="form-control" @bind="Model.MiddleName" /></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" class="form-control" @bind="Model.LastName" /></td>
        </tr>
    </tbody>
</table>

<div style="margin-top: 10px;">
    <button class="btn btn-primary" @onclick="ShowFirstName">Show First Name</button>
    <button class="btn btn-secondary" @onclick="ShowMiddleName">Show Middle Name</button>
    <button class="btn btn-success" @onclick="ShowLastName">Show Last Name</button>
    <button class="btn btn-info" @onclick="ShowFullName">Show Full Name</button>
    <button class="btn btn-danger" @onclick="ClearDisplay">Clear</button>
</div>

@if (!string.IsNullOrWhiteSpace(Model.DisplayedName))
{
    <table class="table table-bordered table-striped" style="width: 50%; margin-top: 20px;">
        <thead>
            <tr>
                <th style="width: 30%;">DISPLAYED NAME</th>
            </tr>
        </thead>
        <tbody>
            <tr class="@Model.DisplayColor">
                <td style="padding: 10px;">
                    <strong>@Model.DisplayedName</strong>
                </td>
            </tr>
        </tbody>
    </table>
}

<style>
    .background-red {
        background-color: #ffdddd;
    }

    .background-blue {
        background-color: #ddeeff;
    }

    .background-green {
        background-color: #ddffdd;
    }

    .background-yellow {
        background-color: #ffffdd;
    }

    .background-white {
        background-color: #ffffff;
    }

    .background-cyan {
        background-color: #e0ffff;
    }

    .btn {
        margin-right: 5px;
    }

    h3 {
        font-size: 500%;
        font-style: initial;
        color: black;
        background-color: white;
        text-align: center; 
        margin: 0 auto; 
        width: fit-content;
    }

</style>
