@page "/Video"

<h3>MY VIDEOS</h3>

<div class="video-container">
    <iframe width="1000" height="500" src="https://www.youtube.com/embed/eMjyvIQbn9M?si=p4dcv6-Bj39MuA7T"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
    </iframe>
</div>

<h3></h3>

<div class="video-container">
    <iframe width="1000" height="500" src="https://www.youtube.com/embed/gunZRs8g6q8?si=FJArl78yOufsVJiM"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
    </iframe>
</div>

<h3></h3>

<div class="video-container">
    <iframe width="1000" height="500" src="https://www.youtube.com/embed/ml5uvpfXcLU?si=qqPhAk-hkn8QIav9"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
    </iframe>
</div>

<h3></h3>

<div class="video-container">
    <iframe width="1000" height="500" src="https://www.youtube.com/embed/Pok0Jg2JAkE?si=GLW8HRVK9mlqCI1F"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
    </iframe>
</div>

<h3></h3>

<div class="video-container">
    <iframe width="1000" height="500" src="https://www.youtube.com/embed/PVUREUDKKns?si=S4fTq-jwa8B9SqoH"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
    </iframe>
</div>

<style>
    .video-container {
        display: flex;
        justify-content: center;
    }
    h3 {
        font-size: 500%;
        font-style: initial;
    }
</style>
