/* _content/RamirezSolution/Shared/MainLayout.razor.rz.scp.css */
.page[b-wl5khyncb7] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-wl5khyncb7] {
    flex: 1;
}

.sidebar[b-wl5khyncb7] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-wl5khyncb7] {
    background-color: black;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-wl5khyncb7]  a, .top-row .btn-link[b-wl5khyncb7] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-wl5khyncb7] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-wl5khyncb7] {
        display: none;
    }

    .top-row.auth[b-wl5khyncb7] {
        justify-content: space-between;
    }

    .top-row a[b-wl5khyncb7], .top-row .btn-link[b-wl5khyncb7] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-wl5khyncb7] {
        flex-direction: row;
    }

    .sidebar[b-wl5khyncb7] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-wl5khyncb7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-wl5khyncb7], article[b-wl5khyncb7] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.user-profile[b-wl5khyncb7] {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture[b-wl5khyncb7] {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #007bff;
    margin-right: 20px;
}

    .profile-picture img[b-wl5khyncb7] {
        width: 100%;
        height: auto;
    }

.user-form[b-wl5khyncb7] {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.custom-font[b-wl5khyncb7] {
    font-size: 15px;
    font-family: 'Sant Elia', sans-serif;
}

*[b-wl5khyncb7] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body[b-wl5khyncb7] {
    font-size: 14px;
    background: #fff;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: poppins;
}

#footer[b-wl5khyncb7] {
    background: #f7f7f7;
    padding: 3rem;
    /* padding-top: 5rem; */
    padding-top: 7rem;
    padding-bottom: 80px;
    background-image: url(https://arena.km.ua/wp-content/uploads/3538533.jpg);
}

#footer2[b-wl5khyncb7] {
    background: black;
    padding: 3rem;
    margin-top: 0px;
    /* padding-top: 5rem; */
    padding-top: 7rem;
    padding-bottom: 80px;
    background-image: url(../images/cards/v748-toon-111.png);
}

.logo-footer[b-wl5khyncb7] {
    /* max-width: 300px; */
}

.social-links[b-wl5khyncb7] {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

    .social-links h2[b-wl5khyncb7] {
        padding-bottom: 15px;
        font-size: 20px;
        font-weight: 600;
    }

    .social-links img[b-wl5khyncb7] {
        padding-bottom: 25px;
    }

.social-icons[b-wl5khyncb7] {
    /* display: flex;
    gap: 3rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #777777;
}

    .social-icons a[b-wl5khyncb7] {
        /* font-size: 18px; */
        /* background: #ffffff; */
        /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
  color: #82074a; */
        /* margin-right: 18px; */
        color: #777777;
    }

        .social-icons a:hover[b-wl5khyncb7] {
            color: #000;
        }

        .social-icons a i[b-wl5khyncb7] {
            box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
            padding: 0.4rem 1rem 0.4rem 1rem;
            border-radius: 3px;
            color: #82074a;
            font-size: 16px;
            margin-right: 12px;
        }

li[b-wl5khyncb7] {
    list-style: none;
}

.useful-link h2[b-wl5khyncb7] {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.useful-link img[b-wl5khyncb7] {
    padding-bottom: 15px;
}

.use-links[b-wl5khyncb7] {
    line-height: 32px;
}

    .use-links li i[b-wl5khyncb7] {
        font-size: 14px;
        padding-right: 8px;
        color: #898989;
    }

    .use-links li a[b-wl5khyncb7] {
        color: #303030;
        font-size: 15px;
        font-weight: 500;
        color: #777777;
    }

        .use-links li a:hover[b-wl5khyncb7] {
            color: #000;
        }

.address h2[b-wl5khyncb7] {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.address img[b-wl5khyncb7] {
    padding-bottom: 15px;
}

.address-links li a[b-wl5khyncb7] {
    color: #303030;
    font-size: 15px;
    font-weight: 500;
    color: #777777;
}

.address-links li i[b-wl5khyncb7] {
    font-size: 16px;
    padding-right: 8px;
    color: #82074a;
}

    .address-links li i:nth-child(1)[b-wl5khyncb7] {
        padding-top: 9px;
    }

.address-links .address1[b-wl5khyncb7] {
    font-weight: 500;
    font-size: 15px;
    display: flex;
}

.address-links[b-wl5khyncb7] {
    line-height: 32px;
    color: #777777;
}

.copy-right-sec[b-wl5khyncb7] {
    padding: 1.8rem;
    background: #82074a;
    color: #fff;
    text-align: center;
}

    .copy-right-sec a[b-wl5khyncb7] {
        color: #fcd462;
        font-weight: 500;
    }

a[b-wl5khyncb7] {
    text-decoration: none;
}
/* _content/RamirezSolution/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-0vn2xt2mu5] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-0vn2xt2mu5] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-0vn2xt2mu5] {
    font-size: 1.1rem;
}

.oi[b-0vn2xt2mu5] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-0vn2xt2mu5] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-0vn2xt2mu5] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-0vn2xt2mu5] {
        padding-bottom: 1rem;
    }

    .nav-item[b-0vn2xt2mu5]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-0vn2xt2mu5]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-0vn2xt2mu5]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-0vn2xt2mu5] {
        display: none;
    }

    .collapse[b-0vn2xt2mu5] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
