.page[b-wl5khyncb7] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-wl5khyncb7] {
    flex: 1;
}

.sidebar[b-wl5khyncb7] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-wl5khyncb7] {
    background-color: black;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-wl5khyncb7]  a, .top-row .btn-link[b-wl5khyncb7] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-wl5khyncb7] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-wl5khyncb7] {
        display: none;
    }

    .top-row.auth[b-wl5khyncb7] {
        justify-content: space-between;
    }

    .top-row a[b-wl5khyncb7], .top-row .btn-link[b-wl5khyncb7] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-wl5khyncb7] {
        flex-direction: row;
    }

    .sidebar[b-wl5khyncb7] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-wl5khyncb7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-wl5khyncb7], article[b-wl5khyncb7] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.user-profile[b-wl5khyncb7] {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture[b-wl5khyncb7] {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #007bff;
    margin-right: 20px;
}

    .profile-picture img[b-wl5khyncb7] {
        width: 100%;
        height: auto;
    }

.user-form[b-wl5khyncb7] {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

</style >
/* In your CSS file (e.g., wwwroot/css/app.css) */
.custom-font[b-wl5khyncb7] {
    font-size: 15px;
    font-family: 'Sant Elia', sans-serif;
}